/* Style guide from Logo colors
Lighter blue: #0093DD
Light blue #007DC4;
Blue #0069B3 or #0067AC or #0167A9
Dark blue: #0A408A;*/
body{
	font-family: 'Lucida Grande';
	color: #0A4077; /*slightly darker blue*/
	font-size: 16px;
}
nav{
	background-color: #FAFAFA;
}
.nav li a{
	color: #0A408A;
	font-size: 20px;
	padding: 20px 15px;
}
.nav>li>a:hover, .nav>li>a:focus, .nav>li.active>a {
	color: #007DC4;
	background-color: transparent;
	text-decoration: underline;
}
.title{
	background: #0A408A;
	color: white;
	width: 100px;
	padding: 5px 40px;
}
#banner-row{
	padding-top: 150px;
	min-height: 800px;
	border-bottom: 1px solid #0A408A;
	color: grey;
}

#jobs-row .row {
	padding: 15px 0;
	margin-bottom: 15px;
}
.btn-job {
	background-color: #007DC4;
	color: white;
}
.btn-job a{
	color: white;
	font-size: 16px;
}
.btn-job a:hover, .btn-job a:focus{
	text-decoration: none;
}
#team-row .row{
	padding: 50px 0;
}
#team-row .mid-row-borders{
	border-top: 1px solid grey;
}
#team-row {
	padding-top: 100px; /*make room for nav bar*/
	border-top: 1px solid #0A408A;
	border-bottom: 1px solid #0A408A;
}
#teamOne a, #teamTwo a, #teamThree a {
	font-size: 16px;
	color: #0A4077;
	line-height: 1.42857143;
}
#jobs-row {
	padding-top: 100px;
	min-height: 500px;
}
#jobs-row .col-md-6 {
	padding-top: 25px;
}
#contact-row {
	padding-top: 100px;
}
.contact-section{
	background: url('/assets/GGBridge_resized2.jpg') bottom center no-repeat;
	background-size: cover;
	min-height: 350px;
	color: grey;
	padding-left: 10px;
}
.contact-section a{
	color: grey;
}
.social-section{
	padding: 20px 0;
	background-color: #e7e7e7;
	/*margin-top: 150px;*/
}
.social-section img{
	width: 65px;
}
#contact-row h1, #jobs-row h1, .contact-section h1, .social-section h1 {
	margin-bottom: 50px;
}