/* Style guide from Logo colors
Lighter blue: #0093DD
Light blue #007DC4;
Blue #0069B3 or #0067AC or #0167A9
Dark blue: #0A408A;*/
@font-face {
              font-family: "GothamBook";
              src: url("/assets/GothamBook.otf") format('truetype');
            }
nav{
	background-color: white;
	font-family: 'GothamBook', 'Helvetica';
}
.nav li a{
	color: #0A408A;
	font-size: 20px;
	padding: 20px 15px;
}
.nav>li>a:hover, .nav>li>a:focus {
	color: #007DC4;
	background-color: transparent;
	font-family: 'GothamMedium';
}
.nav > li.active > a, .nav > li.active > a:hover, .nav > li.active > a:focus{
	font-family: 'GothamMedium';
}
#banner-row{
	padding-bottom: 75px;
	min-height: 500px;
}
#banner-row img{
	padding-top: 70px;
}

#about-row {
	background: url('/assets/IMG_9098.jpg') no-repeat;
	background-size: cover;
	height: 500px;
	padding-top: 150px;
}

#jobs-row .row {
	padding: 30px 0;
}
#team-row .row{
	padding: 50px 0;
}
#team-row p {
	font-family: 'GothamBook', 'Helvetica Neue', 'Helvetica, Arial', 'sans-serif';
	line-height: 1.5;
}
.mid-row-borders{
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}
#jobs-row, #team-row, #contact-row {
	padding-top: 70px; /*make room for nav bar*/
}

.social-section{
	padding: 30px 0;
}
.contact-section {
	background: url('/assets/IMG_2314.jpg') no-repeat;
	background-size: cover;
	height: 500px;
	padding: 30px 0;
}