/* Style guide from Logo colors
Lighter blue: #0093DD
Light blue #007DC4;
Blue #0069B3 or #0067AC or #0167A9
Dark blue: #0A408A;*/
nav{
	background-color: white;
}
.nav li a{
	color: #0A408A;
	font-size: 20px;
	padding: 20px 15px;
}
.nav>li>a:hover, .nav>li>a:focus {
	color: #007DC4;
	background-color: transparent;
}
#banner-row{
	padding-bottom: 75px;
	min-height: 500px;
}
#banner-row img{
	padding-top: 70px;
}

#about-row {
	background: url('/assets/IMG_9098.jpg') no-repeat;
	background-size: cover;
	height: 500px;
	padding-top: 150px;
}

#jobs-row .row {
	padding: 30px 0;
}
#team-row .row{
	padding: 50px 0;
}
#team-row p {
	line-height: 1.5;
}
.mid-row-borders{
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}
#contact-row {
	padding-top: 50px; 
}

.social-section{
	padding: 30px 0;
}
.contact-section {
	background: url('/assets/IMG_2314.jpg') no-repeat;
	background-size: cover;
	height: 500px;
	padding: 30px 0;
}