<!DOCTYPE html>
<html>
<head>
  <title>Manifold Security</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      $(document).ready(function() {
                $('body').scrollspy({ target: '.navbar-spy' })
            }
        </script>
</head>
<body data-spy="scroll" data-target=".navbar-spy">

<%= yield %>

</body>
</html>
